.button {
    border-radius: 5px;
    min-width: 28px;
    background-color: white;
    border: 1px solid #828282;
    margin-right: 1px;
    box-shadow: 0 4px #999;
}

.button:focus {
    outline: 0;
}

.button:active {
    box-shadow: 0 3px #666;
    transform: translateY(1px);
}
